<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/prod-styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
<title><%=pageTitle %></title>
</head>
    <body>
        <%- include('./includes/navigations.ejs') %>
       
        <% if (products.length>0) { %>
            <div class="row div-table">
                   <% for(product of products) { %>
                    <div class="col s3">
                    <div class="card">
                        <div class="card-image hover-zoom">
                         <a href="#"><img src= "/<%= product.images[0].url %>" height="300px"></a> 
                          <span class="card-title" style="color:black"><%=product.name%></span>
                        </div>
                        <div class="card-content">
                          <p style="color:grey;">Description:</p>
                          <p><%= product.description%> </p>
                        </div>
                        <div class="card-content">
                          <p style="color:grey;">Price:</p>
                          <p>$ <%= product.price %> </p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <%} else {%>
                <h5>No Products Found!!</h5>
            <% } %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        </body>
        
        
        </html>
    